@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen antialiased text-primary bg-primary;
}

.dark {
	--text-primary: 246, 247, 247;
	--text-secondary: 139, 142, 151;
	--bg-primary: 21, 22, 24;
	--bg-secondary: 26, 27, 29;
	--accent-primary: 38, 39, 41;
	--accent-secondary: 34, 35, 37;
	--brand-primary: 165, 180, 252;
	--brand-secondary: 129, 140, 248;
	--success-primary: 110, 231, 183;
	--success-secondary: 52, 211, 153;
	--error-primary: 253, 164, 175;
	--error-secondary: 251, 113, 133;
	--warning-primary: 252, 211, 77;
	--warning-secondary: 251, 191, 36;
}

.light {
	--text-primary: 40, 42, 48;
	--text-secondary: 107, 111, 118;
	--bg-primary: 246, 248, 247;
	--bg-secondary: 255, 255, 255;
	--accent-primary: 239, 239, 239;
	--accent-secondary: 250,250,250;
	--brand-primary:99, 102, 241;
	--brand-secondary:79, 70, 229;
	--success-primary: 16, 185, 129;
	--success-secondary: 5, 150, 105;
	--error-primary: 244, 63, 94;
	--error-secondary: 225, 29, 72;
	--warning-primary: 245, 158, 11;
	--warning-secondary: 217, 119, 6;
}

#nprogress {
	@apply z-50 pointer-events-none;
}
#nprogress .bar {
	@apply bg-brand-primary fixed z-50 top-0 left-0 w-full h-0.5;
}

.react-datepicker__input-container input {
	@apply relative block w-full text-base border rounded shadow-sm focus:outline-none focus:border-0 focus:ring-1 focus:ring-brand-primary border-accent-primary bg-primary md:text-sm;
}

.react-datepicker__tab-loop {
	@apply absolute;
}

.react-datepicker__month-container {
	@apply flex flex-col;
}

.react-datepicker__month {
	@apply flex flex-col;
}

.react-datepicker__current-month {
	@apply ml-3 my-2.5 text-lg font-semibold text-secondary;
}

.react-datepicker__week {
	@apply flex justify-around;
}

.react-datepicker__day-names {
	@apply flex justify-around text-xs font-medium text-center text-secondary;
}

.react-datepicker__day-name {
	@apply flex items-center justify-center w-8 h-8 py-1 rounded-full;
}

.react-datepicker__navigation {
	@apply absolute top-2;
}

.react-datepicker__navigation--previous {
	@apply flex items-center justify-center w-8 h-8 transition rounded right-12 hover:bg-accent-primary/50;
}

.react-datepicker__navigation--next {
	@apply flex items-center justify-center w-8 h-8 transition rounded right-4 hover:bg-accent-primary/50;
}

.react-datepicker__day {
	@apply flex items-center justify-center w-8 h-8 py-1 mb-1 text-sm leading-loose transition rounded text-primary hover:bg-accent-primary/50;
}

.react-datepicker__day--disabled {
	@apply opacity-50 cursor-not-allowed hover:bg-transparent;
}

.react-datepicker__day--outside-month {
	@apply text-secondary;
}

.react-datepicker__day--in-range {
	@apply bg-accent-primary;
}

.react-datepicker__day--in-selecting-range {
	@apply bg-brand-primary;
}

.react-datepicker__day--selecting-range-start {
	@apply text-white bg-brand-primary dark:text-black;
}

.react-datepicker__day--selecting-range-end {
	@apply text-white bg-brand-primary dark:text-black;
}

.react-datepicker__day--selected {
	@apply text-white bg-brand-primary dark:text-black;
}

.react-datepicker__day--range-start {
	@apply text-white bg-brand-primary dark:text-black;
}

.react-datepicker__day--range-end {
	@apply text-white bg-brand-primary dark:text-black;
}

.react-datepicker__input-time-container {
	@apply flex items-center justify-between px-2 mt-1;
}

.react-datepicker-time__input input {
	@apply px-4 py-1 text-sm border rounded-md cursor-pointer border-accent-primary bg-primary text-primary focus:border-brand-primary focus:ring-brand-primary disabled:opacity-60 disabled:bg-accent-primary disabled:bg-opacity-20;
}

.react-datepicker__day--in-range {
	@apply text-white bg-brand-primary dark:text-black;
}

.react-datepicker__day--in-selecting-range {
	@apply text-white bg-brand-primary/75 dark:text-black hover:bg-brand-primary/75;
}

.react-datepicker-popper {
	@apply w-24 mt-2 overflow-hidden text-center rounded-lg shadow h-52 transform-none bg-secondary dark:ring-1 dark:ring-accent-primary;
}

/* .react-datepicker react-datepicker--time-only {
	@apply overflow-y-auto bg-secondary;
} */

.react-datepicker__time-container {
	@apply bg-secondary;
}

.react-datepicker__time-list {
	@apply overflow-y-scroll h-52 bg-secondary;
}

.react-datepicker__time-list-item {
	@apply w-full py-1 text-sm cursor-pointer hover:bg-accent-primary text-primary;
}

.react-datepicker__time-list-item--disabled {
	@apply opacity-50 cursor-not-allowed hover:bg-transparent;
}

.react-datepicker-time__header {
	@apply pb-2 font-medium;
}
